/* font family from google font  */
* {
  font-family: "Mulish", sans-serif;
  margin: 0;
  padding: 0;
}
/* shared item */

/* Common style */
:root {
  --main_color: #ff5400;
  --main_font_weight: 800px;
  --description_color: #5a5a5d;
}
body {
  padding: 135px;
}

/* Nav section style */
nav {
  display: flex;
  justify-content: space-between;
}
.brand_name_and_logo_container {
  display: flex;
  gap: 16px;
}
nav .nav_list_container {
}
/* nav .nav_list_container{} */
nav .nav_list_container ul {
  display: flex;
  justify-content: space-around;
}
nav .nav_list_container ul li {
  list-style: none;
}
